/* main styles */
* {
    font-family: 'Segoe UI';
}

html {
    overflow-x:hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

body {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
